# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Maven Build

on:
  push:
    branches: [ 'dev-1.x' ]
  pull_request:
    branches: [ 'release-1.x' ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11' , '17' , '21' ]
        # maven-profile-spring-boot: [ 'spring-boot-2.0' , 'spring-boot-2.1' , 'spring-boot-2.2' , 'spring-boot-2.3' ,
        #                             'spring-boot-2.4' , 'spring-boot-2.5' , 'spring-boot-2.6' , 'spring-boot-2.7' ]
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup JDK ${{ matrix.Java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Build with Maven
        run: mvn
          --batch-mode
          --update-snapshots
          --file pom.xml
          -Drevision=0.0.1-SNAPSHOT
          -DargLine="${{ matrix.java >= 16 && '--add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED' || '' }}"
          # -P${{ matrix.maven-profile-spring-boot }}
          test